/** GENERAL **/
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow-y: hidden;
}
main {
    font-family: 'VT323', sans-serif;
    width: 6380px;
    height: 100%;
    background-image: url("images/grass.png");
}
/** SCREEN **/
.screen {
    padding: 6px;
    height: 156px;
}
/** MISC **/
.misc {
    display: flex;
    position: fixed;
    z-index: 1;
}
.logo {
    display: flex;
    justify-content: center;
    width: 142px;
    background: rgb(249, 158, 31);
    border: 2px solid rgb(170, 24, 4);
    border-radius: 12px;
}
.logo img {
    height: 140px;
    width: 100%;
}
.misc-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3px;
}
.music-stop:hover {
    display: initial;
}
.misc-button div, .misc-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169.9%;
    height: 23.6%;
    background: rgb(249, 158, 31);
    color: rgb(170, 24, 4);
    border: 2px solid rgb(170, 24, 4);
    border-radius: 10px;
}
.save:hover {
    color: rgb(5, 5, 137);
}
/** PLAYER'S CARD **/
.player-card {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    height: 144px;
    padding: 4px;
    background: rgb(249, 158, 31);
    border: 2px solid rgb(170, 24, 4);
    border-radius: 12px;
    position: fixed;
    right: 5px;
    z-index: 1;
}
.stats {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 130px;
}
.stats img {
    height: 19px;
    width: 19px;
}
.stats span {
    display: flex;
    justify-content: center;
    width: 40px;
    font-size: 20px;è
}
.card-icon {
    height: 132px;
    border-radius: 0 6px 6px 0;
}
/** GAME **/
.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 435px;
    padding: 50px 0px 25px 190px;
}
/** BUBBLES **/ 
.wrap-section {
    display: flex;
    gap: 95px;
}
article {
    font-family: 'VT323', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 235px;
    min-width: 235px;
    height: 130px;
    padding: 5px;

    background: rgb(4, 4, 4);
    border: 2px solid rgb(170, 24, 4);
    border-radius: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0.8;

    z-index: 1;
}
article::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
article::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 0px 50px 0px 0px;
}
article::-webkit-scrollbar-thumb {
    box-shadow: 0 0 6px black;
}
article::before { /** ARROW **/
    content: '\f0d7';
    font: var(--fa-font-solid);
    font-family: "Font Awesome 6 free"; 
    font-weight: 900;
    font-size: 68px;
    color: rgb(4, 4, 4);
    position: absolute;
    top: 305px;
}
h2, p {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: rgb(240, 235, 235);
    margin: 0;
    position: relative;
}
p {
    margin-top: 16%;
}
.p-margin {
    margin-top: 24.9%;
}
/** LINE **/
.line {
    display: flex;
    justify-content: space-between;
    height: 10px;
    width: 6130px;
    margin-right: 50px;
    position: relative;
    background-image: url("images/bricks.png");
}
.tombstone {
    height: 26px;
    position: absolute;
    top: -16px;
}
.statue {
    height: 105px;
    position: absolute;
    left: 160px;
    top: -105px;
}
.clothings {
    height: 30px;
    position: absolute;
    left: 517px;
    top: -30px;
}
.boat {
    height: 115px;
    position: absolute;
    left: 814px;
    top: -115px;
    z-index: 1;
}
.water {
    position: absolute;
    left: 832px;
    top: -558px;
    z-index: 0;
}
.jousting-knight {
    height: 57px;
    position: absolute;
    left: 1154px;
    top: -55px;
}
.potion-shop {
    height: 131px;
    position: absolute;
    left: 1437px;
    top: -131px;
}
.avatar {
    height: 55px;
    position: absolute;
    top: -37px;
    left: 1465px;
}
.mage {
    height: 52px;
    position: absolute;
    top: -47px;
    left: 1817px;
}
.merchant-guild {
    height: 135px;
    position: absolute;
    top: -129px;
    left: 2120px;
}
.military-camp {
    height: 88px;
    position: absolute;
    top: -70px;
    left: 2444px;
}
.catapult {
    height: 40px;
    position: absolute;
    top: -28px;
    left: 2790px;
}
.castle {
    height: 260px;
    position: absolute;
    top: -250px;
    right: -12px;
}   